services:
  app:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - /mnt/user/appdata/media-dashboard:/database
    depends_on:
      - redis
    environment:
      - FLASK_ENV=development
      - DATABASE_URL=sqlite:////database/app.db
      - REDIS_URL=redis://redis:6379/0

  redis:
    image: "redis:alpine"
